* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
    min-width: 400px;
}
input {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border: 1px solid dodgerblue;
    margin-bottom: 4px;
}

button {
    background-color: dodgerblue;
    padding: 10px 20px 10px 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background-color: dodgerblue;
    border: 1px solid ;
    border-radius: 4px;
    margin-bottom: 20px;
    
}

#delete-btn {
    background-color: white;
    color: dodgerblue;
}


ul {
    list-style-type: none; /* Ensures the default bullet points are displayed */
    padding-left: 0px; /* Optional: Adjust padding for better alignment */
 }
li {
    margin-bottom: 5px; 
}
li a {
    color: dodgerblue;
}