* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
 input {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border: 1px solid dodgerblue;
    margin-bottom: 4px;
 }

 button {
    background-color: dodgerblue;
    padding: 10px 20px 10px 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
 }

 ul {
    list-style-type: disc; /* Ensures the default bullet points are displayed */
    
    padding-left: 20px; /* Optional: Adjust padding for better alignment */

}